/*DISCLAIMER: WEBDESIGN IS MY PASSION*/
body {
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

main {
    min-height: 800px;
    padding: 50px 0;
}

h1 {
    font-size: 32px;
    margin: 30px auto;
}

.musician, .musicians {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}

.musicians {
    border: 1px solid black;
}

.track {
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

.trackList i {
    color: red;
}
