<h2>Your collection:</h2>
<div *ngIf="musList">
    <ul class="list-unstyled musicians">
        <li *ngFor="let mus of musList">
            <div class="musician row">
                <div class="col-6 text-left">
                    {{ mus.name }}, {{ mus.age }} y.o.
                </div>
                <div class="col-6 text-right">
                    Started in {{ mus.careerStartYear }}
                </div>
            </div>
            <div class="col-12">
                <ul class="list-unstyled albums">
                    <li class="row" *ngFor="let al of mus.albums">
                        <div class="text-left col-12">{{ al.name }} ({{al.releaseYear}})</div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="trkList">
    <ul class="list-unstyled trackList">
        <li *ngFor="let trk of trkList" class="row">
            <div class="col-12 track">
                <i class="fa-fw fa-play-circle" (click)="markAsListened(trk.id)" [ngClass]="{'fas':trk.isListented==true, 'far':trk.isListented==false}"></i>
                <span>{{ trk.name }} - {{ trk.duration}}</span>
                <i class="fa-fw fa-heart" (click)="markAsFavorite(trk.id)" [ngClass]="{'fas':trk.isFavorite==true, 'far':trk.isFavorite==false}"></i>
                <i class="fa-fw fa-thumbs-down" (click)="dislike(trk.id)" [ngClass]="{'fas':trk.rating==-1, 'far':trk.rating!=-1}"></i>
                <i class="fa-fw fa-thumbs-up" (click)="like(trk.id)" [ngClass]="{'fas':trk.rating==1, 'far':trk.rating!=1}"></i>
            </div>
        </li>
    </ul>
</div>